<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
</head>
<body>
<h1>

    </p> <center><em>Family app</em></center></p>
</h1>

    <a th:href="@{/persons/create}"><button  type="submit" class="btn btn-primary">
    Add Person
    </button></a>
    <a th:href="@{/persons/list}"><button type="submit" class="btn btn-primary">
    Display Family
    </button></a>
    <a th:href="@{/persons/delete}"><button type="submit" class="btn btn-primary">
    Delete Person
    </button></a>
    <button type="submit" class="btn btn-primary">
    Add Event
    </button>
    <button type="submit" class="btn btn-primary">
    Today's Events
    </button>
    <button type="submit" class="btn btn-primary">
    Calendar
    </button>
    <button type="submit" class="btn btn-primary">
    Shopping List
    </button>
    <button type="submit" class="btn btn-primary">
    Lesson Plan
    </button>


    <button type="submit" class="btn btn-primary">
        Login
    </button>


<div>
    <center>
        <img src="/images/Family-app.jpg" alt="Familly-app" style="width: 100%;height: 700px; position: center;">
    </center>
</div>





</body>
